*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button a{
    text-decoration: none;
    color: aliceblue;

}
.bordes{
    border:solid 4px rgb(204, 218, 13);
}
.transicion {
    transition: all 1s;
}
.transicion:hover{
    @extend .bordes;
    width: 80%;
    color: rgb(0, 255, 60);
    }

    @mixin size($ancho, $alto) {
        width:$ancho;
        height: $alto;
        
    }

.diseno {
    @include size(500px, 666px)
}    


